@model dynamic

<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/css/about.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Kişisel Bilgiler</h2>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered mt-4">
                <thead class="table-light">
                    <tr>
                        <th>Bilgi</th>
                        <th>Detay</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ad Soyad</td>
                        <td>@Model.FullName</td>
                        <td><a href="#" class="btn btn-link">Düzenle</a></td>
                    </tr>
                    <tr>
                        <td>Tercih Ettiğiniz Ad</td>
                        <td>@Model.PreferredName</td>
                        <td><a href="#" class="btn btn-link">Ekle</a></td>
                    </tr>
                    <tr>
                        <td>E-Posta Adresi</td>
                        <td>@Model.Email</td>
                        <td><a href="#" class="btn btn-link">Düzenle</a></td>
                    </tr>
                    <tr>
                        <td>Telefon Numarası</td>
                        <td>@Model.Phone</td>
                        <td><a href="#" class="btn btn-link">Düzenle</a></td>
                    </tr>
                    <tr>
                        <td>Adres</td>
                        <td>@Model.Address</td>
                        <td><a href="#" class="btn btn-link">Düzenle</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
