@model List<Web_Project.Models.Property>

@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<link rel="stylesheet" href="/css/home.css" />

<div class="posts">
    @foreach (var property in Model)
    {
        <a asp-controller="Details" asp-action="Index" asp-route-id="@property.propid" class="post-link">
            <div class="post">
                <div class="post-image">
                    <img src="~/media/houses/h_@property.propid/1.jpeg" alt="Property Image">
                </div>
                <div class="post-text">
                    <h3 class="location">@property.location</h3>
                    <div class="rating">★ @property.rating</div>
                    <p class="date">Since @property.CreatedAt.Year</p>
                    <p class="price">@property.pricenight ₺ night</p>
                    <p class="views">Last week seen @property.ViewsLast7Days times</p>
                </div>
            </div>
        </a>
    }
</div>
